<% provide(:title, 'About Us') %>

<h1>About Us</h1>

<p>
This is a practice space I am using to try out the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>

<p>
By the way, it is now <%= @time %>.
</p>